* {
    margin: 0;
    padding: 0;
    word-break: keep-all;
    box-sizing: border-box;
}

.border-bottom {
    border-bottom: 10px solid #58595B;
}

body {
    background-color: #101010;
    color: white;
}


#title {
    width: 100%;
    height: 800px;
    background-image: url("../img/title.jpg");
    background-size: cover;
    position: relative;
}

.title-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to right, rgba(30, 30, 30, 0.8), rgba(32, 32, 32, 0), rgba(30, 30, 30, 0.8));*/
    background-color: rgba(0, 0, 0, 0.4);
}

.title-description {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.title-description img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 15%;
    height: auto;
    filter: invert(15%) sepia(81%) saturate(6792%) hue-rotate(1deg) brightness(112%) contrast(124%);
}

.btn-group {
    position: absolute;
    top: 5%;
    right: 5%;
}

.btn-group .btn {
    background-color: transparent;
    color: white;
    padding: 10px 10px;
}

.btn-group .btn:before {
    content: "\f0ac";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 10px;
}

.btn-group .btn:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 10px;
}

.title-text {
    z-index: 10;
    width: 100%;
}

.title-text h1 {
    font-size: 7rem;
}

.title-text h3, .title-text h4 {
    font-size: 3rem;
    padding-bottom: 10px;
}

.title-form {
    padding-top: 10px;
    font-size: 3rem;
}

.title-form-input {
    color: black;
    width: 500px;
    border: none;
    padding: 10px;
}

.title-form-button {
    background-color: red;
    border: none;
    padding: 10px;
}

.contents-wrapper {
    /*border: 1px solid white;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image-wrapper {
    width: 50%;
    /*border: 1px solid white;*/
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-wrapper .video1 {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 74%;
    z-index: -1;
}

.image-wrapper .video2 {
    position: absolute;
    top: 10%;
    left: 17%;
    width: 65%;
    z-index: -1;
}

.image-wrapper video {
    width: 100%;
}

.image-wrapper .description {
    position: absolute;
    top: 65%;
    left: 15%;
    border: 5px solid #58595B;
    border-radius: 15px;
    width: 70%;
    height: 25%;
    background-color: black;
    display: flex;
}

.image-wrapper .description .image {
    width: 10%;
}

.text-wrapper {
    width: 50%;
}

.accordion {
    background-color: #58595B;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    /*transition: 0.4s;*/
    border-bottom: 1px solid black;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin: 0;!important;
    padding: 15px 18px 5px;
    background-color: #5F5F5F;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    border-radius: 0;
    font-size: 20px;
    text-align: left;
}

.footer {
    padding: 20px;
    font-size: 20px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer-content {
    width: 25%;
}

.footer-content li {
    list-style: none;
    padding: 10px
}

@media screen and (max-width: 768px) {
    .title-description img {
        width: 25%;
    }
    .text-wrapper {
        text-align: center;
        width: 100%;
        padding-top: 30px;
    }

    .image-wrapper {
        width: 100%;
    }

    .footer-content {
        width: 50%;
    }
}