* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic";
}

body {
    background: #4c320d;
}

#wrap {
    width: 800px;
    margin: 20px auto;
}

#top {
    background-image: url("../img/layout4/top.jpg");
    width: 800px;
    height: 10px;
}

#header {
    background-image: url("../img/layout4/header.jpg");
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
}

#header h1 {
    /*margin-left: 20px;*/
    color: whitesmoke;
    /*padding-top: 20px;*/
    padding-left: 30px;
}

#menu {
    background-image: url("../img/layout4/menu.jpg");
    width: 800px;
    height: 30px;
    display: flex;
    align-items: center;
}

#menu div {
    padding-left: 10px;
}

#menu div a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
    padding-right: 20px;
}

#menu div a:hover {
    color: black;
}
#content {
    background-image: url("../img/layout4/content.jpg");
    width: 800px;
    height: 1000px;
    display: flex;
}

#content div {
    /*border: 1px solid black;*/
}

#content div.first {
    /*width: 100px;*/
    max-width: 80%;
    /*border: 1px solid black;*/
}

#content h2 {
    padding: 20px 20px 0;
}

#content img {
    padding: 20px;
    max-width: 90%;
}

#content h3 {
    padding-top: 20px;
    margin-bottom: 20px;
}

#content div li {
    list-style-position: inside;
    padding-left: 10px;
    /*list-style-type: none;*/
}

#content a {
    text-decoration: none;
    color: black;
}

#content a:hover {
    color: white;
}

#bottom {
    background-image: url("../img/layout4/bottom.jpg");
    width: 800px;
    height: 20px;
    text-align: center;
    color: white;
}

#bottom h3 {
    padding-top: 20px;
}

